@import "medium-editor/dist/css/themes/default.css";
@import "medium-editor/dist/css/medium-editor.css";

body {
  background: radial-gradient(lightgrey 3px, transparent 4px),
    radial-gradient(lightgrey 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    #fff;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Sans-Serif;
}

svg {
  vertical-align: middle;
  display: inline-block;
}

input[type="text"],
input[type="url"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:disabled,
input[type="url"]:disabled,
input[type="date"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
select {
  color: rgba(0, 0, 0, 0.42);
  border-bottom: 1px dotted #f2f2f2;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select {
  border-bottom: 1px solid darkgrey;
  box-shadow: 0 1px 0 0 darkgrey;
}

option {
  color: black;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="file"] {
  top: 10px;
  left: 8px;
  color: #b8b8b8;
}

textarea {
  width: 100%;
}

#sanctions_checkbox_toggle {
  display: none;
  cursor: pointer;
}

.sanctions_checkbox-label {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
  color: black !important;
}

#sanctions_checkbox_toggle:checked ~ ul {
  display: block;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
  padding: 8px;
  border-radius: 1px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px 1px darkgrey;
  z-index: 3;
}

#sanctions_checkbox_toggle ~ ul {
  display: none;
}

#sanctions_checkbox_label {
  cursor: pointer;
}

#sanctions_checkbox_label:hover {
  background-color: #ccc;
}

.sanctions-span {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 0.8rem;
}

label {
  font-size: 0.8rem;
  color: grey;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

hr {
  visibility: hidden;
}

.dropdown_checkbox_toggle {
  display: none;
  cursor: pointer;
}

.dropdown_checkbox_label {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
  color: black !important;
}

.dropdown_checkbox_label:hover {
  background-color: #ccc;
}

.dropdown_checkbox_toggle:checked ~ ul {
  display: block;
  list-style-type: none;
  list-style: none;
  list-style-position: inside;
  padding: 8px;
  border-radius: 1px;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px 1px darkgrey;
  z-index: 3;
}

.dropdown_checkbox_toggle ~ ul {
  display: none;
}

.dropdown_checkbox_label {
  cursor: pointer;
}

.dropdown-button {
  background-color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-button:hover {
  background-color: lightgray;
}

.title-row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 350px;
  /* background-color: white; */
  margin-bottom: 30px;
  border-radius: 25px;
}

#page {
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  min-width: 350px;
  height: 100%;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.center {
  margin: 0 auto;
}

.width-100 {
  width: 100px;
}

.width-200 {
  width: 200px;
}

.width-100Percent {
  width: 100%;
}

.width-30Percent {
  width: 30%;
}

.width-70Percent {
  width: 70%;
}
.width-90Percent {
  width: 90%;
}

.red {
  color: red;
}

.editable {
  background: #f2f2f2;
}

#version {
  color: darkgrey;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#save-contract {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  max-width: 200px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

#save-contract:hover {
  transform: scale(1.01);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

#overlay-layout {
  padding-left: 10px;
  padding-right: 10px;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  overflow: auto;
}

#transaction-display {
  overflow: hidden;
}

.row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.wide-row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.fabric-color {
  color: #a4a4a4;
}

.wallet-logo-container {
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}

.lightBlue-shadow {
  box-shadow: rgb(104, 202, 235) 0px 5px 15px !important;
}

.lightCoral-shadow {
  box-shadow: rgb(240, 166, 166) 0px 5px 15px !important;
}

.lightGreenish-shadow {
  box-shadow: rgb(108, 177, 173) 0px 5px 15px !important;
}

.lightSlateGray-shadow {
  box-shadow: lightslategray 0px 5px 15px !important;
}

.light-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background-lightgrey {
  background: lightgrey;
}

.background-lightcoral {
  background: lightcoral;
}
.background-lightgreen {
  background: lightgreen;
}

.background-ccc {
  background: #ccc;
}

.labelButton {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  overflow: hidden;
}
.labelButton:hover {
  background-color: #ccc;
}

#network-dropdown {
  align-self: center;
}

#permaweb-dropdown {
  align-self: center;
}

#catalog-dropdown {
  align-self: center;
}

.drop-zone {
  margin-top: 20px;
  min-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #cccccc;
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

#erc20-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#input-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#input-table tr {
  background-color: white;
}

#input-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: white;
}

#expires-reset {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  color: black;
}

#expires-reset:hover {
  background-color: #ccc;
}

#deploy-sc-button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  color: black;
}

#verify-contract-button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  color: black;
}

#verify-contract-button:hover {
  background-color: #ccc;
}

#import-docx-trigger {
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  color: black;
  box-shadow: lightgrey 0px 5px 15px !important;
}

#import-docx-trigger:hover {
  background-color: #ccc;
}

.catalogList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.backButton {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
  color: black !important;
  border: none;
}

.backButton:hover {
  background-color: #ccc;
}

.NextButton {
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
  padding: 5px;
  color: white !important;
  border: none;
}

.NextButton:hover {
  background-color: #ccc;
}

.NextButton :disabled {
  cursor: pointer;
  background-color: grey;
  border-radius: 20px;
  padding: 5px;
  color: white !important;
  border: none;
}

.SCIntent-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cursor-text {
  cursor: text;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-notallowed {
  cursor: not-allowed;
}

.terms-button-label {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.terms-button-label:hover {
  background-color: #ccc;
}

#terms-checkbox {
  cursor: pointer;
}

.marginBottom-10 {
  margin-bottom: 10px;
}

#network-select {
  max-width: 200px;
}

#arweave-circle-container {
  width: 20px;
  height: 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  z-index: 2;
}

.routes-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  margin: 0 auto;
}
.routes-buttons {
  /* width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 25px;
  border: none; */
  z-index: 3;
}

#error-display {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  /* Sit on top of the screen */
  z-index: 5;
  /* Add a z-index if needed */
  left: 0;
  /*Center the snackbar */
  bottom: 30px;
  /*30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#error-display.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

.text-align-center {
  text-align: center;
}

/* LOGO ANIMATION START */
.intro-logo-container {
  text-align: center;
  /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
  color: #555;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
  padding-top: 10vh;
  height: 20vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.FabricText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: showup 7s infinite;
}

.DaoText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  animation: reveal 7s infinite;
}

.logo-container {
  text-align: center;
  /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
  color: #555;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.Fabric {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.DaoText span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -100px;
  }

  20% {
    margin-left: -100px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 100px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100px;
  }
}

.uploadProposalDiv {
  display: block;
  width: 100%;
  height: 100%;
}

#uploadProposalStep1 {
  display: none;
}

#uploadProposalStep2 {
  display: none;
}

#uploadProposalStep3 {
  display: none;
}

#uploadProposalStep4 {
  display: none;
}

#proposeNewContract {
  display: none;
}

#proposeNewRank {
  display: none;
}
#proposalPending {
  display: none;
}

.height500 {
  height: 500px;
}

/* // sidebar */

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: white;
  width: 100px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
  transition: width 0.35s;
  overflow: auto;
  height: 100%;
}

#sidebar.collapsed {
  width: 0;
}

#content {
  width: 100%;
}

.position-fixed {
  position: fixed;
}

.text-align-center {
  text-align: center;
}

.display-block {
  display: block;
}
