#page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.ricardian-title {
  margin: 0 auto;
}

.ricardian-subtitle {
  margin: 0 auto;
}

.contract-text {
  margin: 0 auto;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.contract-label {
  margin: 0 auto;
}
.price-label {
  margin: 0 auto;
}
.price-input {
  width: 100px;
  margin: 0 auto;
}

.save-button {
  width: 100px;
  margin: 0 auto;
}

#select-file-input {
  margin: 0 auto;
  padding-left: 50px;
}

#select-file-label {
  margin: 0 auto;
}
