#page {
  margin: 0 auto;
  display: flex;
  max-width: 800px;
  height: 100%;
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.width-100 {
  width: 100px;
}

.red {
  color: red;
}

.editable {
  background: #f2f2f2;
}
.title {
  color: darkgrey;
}
